.signupcon{
    padding: 40px;
    color: #fff;
    background-color: #071121;
}

.cardcontent{
    padding-bottom: 20px;
    padding-top: 20px;
    color: #fff;
    
}

.cardcon{
    background-color: #071121;
    color: #fff;
    padding: 40px;
    
    
}

.textcon{
    background-color: #fff;
    color:  #071121;
    border-radius: 5px;
}

.cardcov{
    width: 40%;
    position: relative;
    left: 30%;
    box-shadow: 0 3px 5px 0px #d72a2ada ;
}

#already {
    text-align: center;
}