.aboutcon{
    padding-top: 40px;
    color: black;
    height: 50vw;
        
}

.highone{
    background-color: #8080802b;
    padding: 5px;
}                                                                   