.sicons-cov{
    display: flex;
    padding: 20px;
    
}

.footercov{
    background: #071121;
    display: flex;
    justify-content: center;
}

.sicons{
    padding: 7px ;
    background-color: #22365659;
}

#icon{
    margin-left: 10px;
    border-radius: 50%;
    background: #22365659;
}

.foot-btn{
    padding: 7px ;
    margin-top: 18px;
    padding-bottom: 10px;
}

#redbtn{
    margin-left: 15px;
}

#bluebtn:hover {
    background: #d72a2ada;
    color: #fff;
}

#icon:hover {
    background: #d72a2ada;
    
}

@media screen and (max-width: 900px) {
    .sicons-cov{
        margin-left: 0px;
    }
    .foot-btn{
        margin-left: 2px; 
        margin-top: 18px;
    }
}

/* @media screen and (max-width: 412px) {
      .sicons-cov{
        margin-left: 20px;
    }
   
} */

/* @media screen and (max-width: 375px) {
    .foot-btn{
        margin-left: 2px;
    }

    .sicons-cov{
        margin-left: -10px;
    }
} */
