.squadcon{
    text-align: center;
    padding: 20px;
    background: #071121;
    color:  #fff;
    height: 100%;
    padding-top: 90px;
}

.cardbox{
    padding: 10px;
}

.cardcon{
    background: #fff;
    color: #071121;
}

